.drops-menu {
    width: 200px;
    background-color: #333;
    border: 2px solid white;
    border-top: 2px solid #333;
    position: absolute;
    top: 46px;
    left: -2px;
    height: 0px;
    transition: 0.5s height;
    overflow: hidden;
}

.higher {
    height: 80px;
}

.inner-drop-menu {
    position: absolute;
    height: 20px;
    top: -20px;
    transition: 0.5s top;
}

.go-down {
    top: 0px
}

@media (max-width: 816px) {
    .drops-menu {
        top: 40px;
    }
}